.articleWrapper {
  height: 450px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.articleWrapper img {
  width: 100%;
}

.articleWrapper h3 {
  text-align: right;
  padding: 8px 16px;
}

.articleWrapper p {
  text-align: right;
  padding: 8px 16px;
  color: "#777";
}
