.headerWrapper {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row-reverse;
}

.header ul {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  padding-right: 40px;
}

.header ul li {
  margin-left: 20px;
  cursor: pointer;
}
